<h1>Listig Articles</h1>
<hr />

<p>
  <%= link_to "Create new article", new_article_path %>
</p>

<%= will_paginate %>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <%= render 'article', obj: @articles %>
</table>

<%= will_paginate %>
