<h1>Showing selected article</h1>
<hr />

<p>
  <b>Title:</b> <%= @article.title %>
</p>

<p>
  <b>Description:</b> <%= @article.description %>
</p>

<p>
  <%= link_to "Edit this article", edit_article_path(@article) %>
</p>

<p>
  <%= link_to "Cancel. Back to listing articles", articles_path %>
</p>
